<link href='https://fonts.googleapis.com/css?family=Quattrocento+Sans:400,700,400italic|Montserrat:400,700|Cardo:400italic|Advent+Pro:100' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<!-- NAVIGATION -->
  <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <img src="https://s24.postimg.org/x2zxvbu6t/Chris_Logo_box.jpg" class="navbar-left" width="50px" height="50px" style="margin-top:20px; margin-right:20px">
        <a class="navbar-brand scroll" href="#home" style="font-family: 'Roboto Condensed', sans-serif;">CHRIS PHAN</a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
        <li><a href="#home" class="scroll">HOME</a></li>
        <li><a href="#about" class="scroll">ABOUT</a></li>
        <li><a href="#portfolio" class="scroll">PORTFOLIO</a></li>
        <li><a href="#contact" class="scroll">CONTACT</a></li>
      </ul>
      </div>
    </div>
  </nav>
    
    
  <!-- HOME -->
  <div id="home" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <!--<img src="../assets/ChrisLogo.png">-->
          <h1>Welcome</h1>
        </div>
      </div>
    </div>
  </div>

  <!-- ABOUT -->
  <div id="about" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-lg-7">
          <h1>ABOUT ME</h1>
          <p class="lead">Software engineering isn't my career, it's my passion!</p>
          <p><strong>My Personal Website:</strong> Will serve as my software development portfolio as well as my hobby as a photographer</p>
          <p><strong>Professionally:</strong>I’ve been a person that has been constantly looking for challenges; I’ve recently discovered the career that I have been destined for in software engineering. The daily challenges drive my interest and pushes me to digest information to fuel my curiosity. Happy to say I love what I do!</p>

          <p><strong>Personal:</strong> I come from a large family where we were taught to respect and love our family. I approach my life based on my family values and spend my freetime volunteering for multiple causes to give back to the community</p>

          <p><strong>Hobbies:</strong> I like being physically active, building relationships, traveling, eating, coding, and reading to expand my knowledge.</p>

          <p><strong>Technical expertise:</strong> Below list my Technical Skills</p>
          
          <p><strong>Strong:</strong> Angular 2, Javascript, ES6,Typescript, Angular 1.5, Postgresql, Sequelize, SQL, Node.js , MongoDB, Mongoose, HTML, CSS and Express.</p>
          
          <p><strong>Intermediate:</strong> React, Redux, C, Backbone.js, Java, and Invision </p>
          <p><strong>Interested In:</strong> Python, Hadoop, R, and Sas </p>
        </div>
        <div class="col-sm-4 col-lg-5 hidden-xs">
          <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAboAAAAJDVlN2VjZmM0LWFkMWYtNDNiMC1iNzIzLTY0NDFhMTBjYjYxMw.jpg" alt="" class="pull-right img-responsive">
        </div>
      </div>
    </div>    
  </div>

  <!-- PORTFOLIO -->
  <div id="portfolio" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>PORTFOLIO</h1>
          <p class="lead">Below you'll find some of my recent work.</p>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img src="https://s29.postimg.org/bbrwykhbr/schedme.jpg">
            <div class="caption">
              <h4><a href="http://ec2-54-183-97-115.us-west-1.compute.amazonaws.com:8000">Schedule Me</a></h4>
              <p>Schedule-me is a schedule  management application that will allow you to streamline your business processes to plan your employees weekly schedule and allow clients to make appointments with your employees. It allows you to schedule smarter and faster with our effective & powerful yet easy-to-use scheduling software and allows for conflict-free scheduling.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img src="https://media.licdn.com/mpr/mpr/shrink_200_200/AAEAAQAAAAAAAAjgAAAAJDNlMGNmYmQyLWUxOGMtNDU4Yi1iNTA3LWM0N2Y2YzI2YjQ3Yg.png" >
            <div class="caption">
              <h4><a href="https://civilityinternational.org">Civility International</a></h4>
              <p>Civility International is a non-profit organization that focuses on promoting, advocating, and empowering young leaders across the United States to create a culture of civility, diversity, and acceptance for everyone to learn, develop, and thrive. Through helping create and support campus-wide civility organizations.</p>
            </div>
          </div>
        </div>
        <div class="clearfix hidden-sm-up"></div>

        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img src="http://www.gotvectors.com/images/preview/thumb/pesi-free-weights-vectors.jpg" alt="Project Dummy">
            <div class="caption">
              <h4><a href="https://healthyu.io">HealthyU</a></h4>
              <p>HealthyU wants to help you save money on all things health-related, and allow you to be ahead of anything going on with your body. Know your body inside and out with our exclusive blood screenings. HealthyU helps you to keep on top of those risks so there's never a need to worry.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="thumbnail">
            <img src="https://s23.postimg.org/nauqkxjez/notejs.jpg">
            <div class="caption">
              <h4><a href="http://notesjs.heroku.com/">Notes.js</a></h4>
              <p>The collaborative note taking app for developers.</p>
            </div>
          </div>
        </div>
        <!--<div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="https://placeimg.com/768/456/animals/grayscale" alt="Project Dummy">
            <div class="caption">
              <h4>Sample Project #5</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            </div>
          </div>
        </div>-->
      </div>
    </div>
  </div>
    


  <!-- CONTACT -->
  <div id="contact" class="content-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <h1>CONTACT</h1>
          <p class="lead">Feel free to contact me at</p>
          <div class="social-cont">
            <div class="row">
              <div class="col-sm-12">
                <a class="btn btn-default btn-lg linkedin-btn" href="https://www.linkedin.com/in/christopher-phan
" role="button" target="_blank"><i class="fa fa-star"></i><span>LinkedIn</span></a>
                <!--<a class="btn btn-default btn-lg twitter-btn" href="https://twitter.com/lveent" role="button" target="_blank"><i class="fa fa-twitter"></i><span>Twitter</span></a>-->
                <a class="btn btn-default btn-lg github-btn" href="https://github.com/cpp6d" role="button" target="_blank"><i class="fa fa-github"></i><span>Github</span></a>
                
              </div>
            </div>  
          </div>

        </div>
      </div>
    </div>
  </div>